name: daily-report

on:
  schedule:
    - cron: '0 12 * * 5'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: 3.x

      # Neuer Schritt, um Abhängigkeiten zu installieren
      - name: Install dependencies
        run: |
          pip install yfinance pandas matplotlib

      # Weitere Abhängigkeiten für das Skript installieren
      - name: Install additional dependencies
        run: |
          pip install smtplib
          pip install email

      - name: Run email code
        env:
          USER_EMAIL: ${{ secrets.USER_EMAIL }}
          USER_PASSWORD: ${{ secrets.USER_PASSWORD }}
        run: python send_email.py
